<form method="post">{% csrf_token %}
    <input type='submit' class='btn btn-primary' value='Summit'>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Material Name</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{item}}
                    </td>
                    <td>
                        <input type="text" class="form-control" name="{{item}}" placeholder="Quantity">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

